#secondtable th, td, tr{
    border: 1px  plum;
}

#home{
margin-top: 20px;

}

#heading{
    color: purple;
    text-align: center;
}
#secondlogo{
float: right;
}

#firstlogo{
    float:center;
}

#banner{
    width: 100%;
    height: 390px;
}
#top{
color:rgb(44, 161, 59);
margin-top:      px;
text-align: center;
}

#home{
color: red;
text-align: justify;
font-size: 19px;
font-family: Arial, Helvetica, sans-serif;

}
#about{
    color: red;
    text-align: justify;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
color: red;
text-align: justify;
font-size: 19px;
font-family: Arial, Helvetica, sans-serif;
}
#Result{
color: red;
text-align: justify;
font-size: 19px;
font-family: Arial, Helvetica, sans-serif;
}

body{background-color:antiquewhite


}
#Paragraph{

    font-size:18px;
    color: solid black;

}



